* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1a1a1a;
}

header {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
}

button {
    border: none;
    cursor: pointer;
}

input[type="checkbox"] {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #4ea8de;
    border-radius: 100%;
    cursor: pointer;
  }

input[type="checkbox"]:checked {
    border: none;
    background-color: #8284fa;
}

input[type="checkbox"]:checked::after {
    content: "\e902";
    font-family: 'icomoon';
    color: #fff 
}

.main {
    display: flex;
    justify-content: center;
    margin-top: -1.75rem;
    &__wrapper {
        width: 735px;
        padding: 1rem;
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }
    .todo-input {
        width: 595px;
        height: 53px;
        padding: 0 20px;
        background-color: #262626;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        color: #fff;
        transition: .3s;
    }
    .add-btn {
        padding: 16px;
        display: flex;
        align-items: center;
        background-color: #1e6f9f;
        color: #fff;
        font-weight: 600;
        border-radius: 5px;
        i {
            margin-left: 5px;
        }
        &:hover {
            background-color: #2c90cb;
            transition: .3s;
        }
    }
    .todos {
        margin-top: 20px;
        .todo {
            width: 100%;
            min-height: 58px;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 13px;
            background-color: #333333;
            border-radius: 8px;
            color: #fff;
            span {
                width: 90%;
                display: flex;
                align-items: flex-start;
            }
            .delete {
                height: 23px;
                background-color: inherit;
                &::after {
                    content: "\e900";
                    font-family: 'icomoon';
                    font-size: 23px;
                    color: #808080;
                }
            }
        }
    }
    .counters {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        &__item {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 15px;
        }
        &__created {
            color: #4ea8de;
        }
        &__done {
            color: #8284fa;
        }
        span {
            height: 20px;
            padding: 2px 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 10px;
            font-size: .75rem;
            background-color: #333333;
            border-radius: 14px;
            color: #d9d9d9;
        }
    }
}

.completed {
    text-decoration: line-through;
}